{% extends 'layout.html' %} 
{% block body_block %}
<div class="main-container" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>
  <div class="main-container-inner">
    <div class="">
      <div class="page-content" style="background-color:#f7f7f7;">
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            
            <h3 class="header lighter  blue no-margin-top ">About us </h3>
            <div class="space-10"></div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 widget-container-span">
                <div class="space-8"></div>
                <div class="row">
                  <div class="width-90" style="margin:auto !important;">
                    <div class="row " >
                      <div class="col-xs-10 col-sm-10 no-padding-left " >
                        <div class="widget-box" style="border-bottom:none; background-color:#fff;  padding:10px;">
                          <h4 class="header lighter brown clearfix"> About The TEMOA Project</h4>
                          <div class="space-4"></div>
                          <div class="row">
                            <div class="col-sm-12" style="padding:20px; padding-top:0px;">
                              <div class="pull-left alert alert-success no-margin alert-dismissable"> <i class="ace-icon fa fa-umbrella bigger-120 blue"></i> Tools for Energy Model Optimization and Assessment (Temoa) is an open source modeling framework for conducting energy system analysis. The core component of Temoa is an energy system optimization model. It's similar in design to the MARKAL / TIMES model generators, OSeMOSYS, and MESSAGE. <a href="http://www.temoaproject.org/" target="_blank">Read More</a> </div>
                            </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                              <div class="col-sm-2 no-padding" style="margin-right:40px"></div>
                              <div class="col-sm-6">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/80gUb6Apayk" frameborder="0" allowfullscreen></iframe>
                              </div>
                            </div>
                            <div class="space-32"></div>
                          </div>
                        </div>
                      
                    <div class="col-xs-2 col-sm-2" >
                      <div class="widget-box" style="border-bottom:none; background-color:#fff;  padding:10px;">
                        <h4 class="header lighter brown clearfix"> User Mannual </h4>
                        <div class="space-10"></div>
                        <div class="form-horizontal" role="form">
                          <div class="form-group">
                            <div class="col-sm-2 " style="margin-left:20px;"> <a class="btn btn-app btn-yellow"> <i class=" icon icon-download "></i> </a> </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="space-32"></div>
            </div>
          </div>
          
          <!-- PAGE CONTENT ENDS --> 
        </div>
        <!-- /.col --> 
      </div>
      <!-- /.row --> 
    </div>
    <!-- /.page-content --> 
  </div>
  <!-- /.main-content --> 
  <!-- /#ace-settings-container --> 
</div>

<script type="text/javascript">
        jQuery(function ($) {
             $(".chosen-select").chosen();
             $('[data-rel=tooltip]').tooltip({ container: 'body' });
             $('[data-rel=popover]').popover({ container: 'body' });
             $('#id-input-file-1 , #id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false //| true | large
                //whitelist:'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            });

            $('#id-input-file-3').ace_file_input({
                style: 'well',
                btn_choose: 'Drop files here or click to choose',
                btn_change: null,
                no_icon: 'icon-cloud-upload',
                droppable: true,
                thumbnail: 'small'//large | fit
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
                    //Check an example below
                    //or examples/file-upload.html
                    return true;
                }*/
                /**,before_remove : function() {
                    return true;
                }*/
                ,
                preview_error: function (filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function () {
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });


            //dynamically change allowed formats by changing before_change callback function
            $('#id-file-format').removeAttr('checked').on('change', function () {
                var before_change
                var btn_choose
                var no_icon
                if (this.checked) {
                    btn_choose = "Drop images here or click to choose";
                    no_icon = "icon-picture";
                    before_change = function (files, dropped) {
                        var allowed_files = [];
                        for (var i = 0 ; i < files.length; i++) {
                            var file = files[i];
                            if (typeof file === "string") {
                                //IE8 and browsers that don't support File Object
                                if (!(/\.(jpe?g|png|gif|bmp)$/i).test(file)) return false;
                            }
                            else {
                                var type = $.trim(file.type);
                                if ((type.length > 0 && !(/^image\/(jpe?g|png|gif|bmp)$/i).test(type))
                                        || (type.length == 0 && !(/\.(jpe?g|png|gif|bmp)$/i).test(file.name))//for android's default browser which gives an empty string for file.type
                                    ) continue;//not an image so don't keep this file
                            }

                            allowed_files.push(file);
                        }
                        if (allowed_files.length == 0) return false;

                        return allowed_files;
                    }
                }
                else {
                    btn_choose = "Drop files here or click to choose";
                    no_icon = "icon-cloud-upload";
                    before_change = function (files, dropped) {
                        return files;
                    }
                }
                var file_input = $('#id-input-file-3');
                file_input.ace_file_input('update_settings', { 'before_change': before_change, 'btn_choose': btn_choose, 'no_icon': no_icon })
                file_input.ace_file_input('reset_input');
            });






            
           
          

            //we could just set the data-provide="tag" of the element inside HTML, but IE8 fails!
            



            /////////
          

            

        });
    </script>
 {% endblock %}
