{% extends 'layout.html' %} 
{% block body_block %}
    <div class="main-container" id="main-container">
        <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>
        <div class="main-container-inner">

            <div class="">
                <div class="page-content" style="background-color:#f7f7f7;">

                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->

                            <h3 class="header lighter  blue no-margin-top ">Input Data </h3>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 widget-container-span">
                                    <div class="widget-box width-95" style="border-bottom:none; margin:auto;  background-color:#fff; padding:10px;">
                                       
                                        <div class="space-10"></div>
                                        <form class="form-horizontal" action="/dapp/runinput" method="POST" enctype="multipart/form-data" role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Select a Database or text file </label>
                                               <div class="col-sm-5">
                                                 <div id="dropArea" class="dropzone">
                                                 <select class="form-control" id="file-list" data-placeholder="Choose a Format...">
                                                    <option value="">&nbsp;</option>
                                                    <option value="AL">SVG</option>
                                                    <option value="AK">Canvas</option>
                                                </select>
                                                    <!-- <input type="file" name="file"id="id-input-file-2" class="form-control" /> -->
                                                </div>
                                                </div>
                                                <div class="col-sm-1 no-padding">
                                                    <button class="btn btn-primary btn-sm form-control">View/Edit Data</button>
                                                </div>
                                            </div>
                                            <div class="space-4"></div>
                                  <!--          <div class="form-group ">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Upload Data </label>
                                                <div class="col-sm-5">
                                                    <input type="file" id="id-input-file-2" class="form-control" />
                                                </div>
                                                  
                                                
                                                <div class="col-sm-1 no-padding">
                                                    <button id="file-upload-button"class="btn btn-primary btn-sm form-control">Upload Data</button>
                                                </div>
                                            </div>-->
                                            <div id="progress" class="progress">
                                                    <div class="progress-bar progress-bar-success"></div>
                                                </div>

                                        </form>




                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 widget-container-span">
                                    <div class="widget-box width-95" style="background-color:#fff; margin:auto !important; border-bottom:none;  height:265px; padding:10px;">

                                        <h4 class="row header lighter brown no-margin-top no-margin-left no-margin-right ">
                                            <span class="col-xs-6"> Network Diagram Options  </span><!-- /.col -->

                              
                                        </h4>

                                        <div class="space-16"></div>
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-5">
                                                Commodity Input Limit
                                                <input type="text" class="form-control" placeholder="COAL" />
                                            </div>
                                            <div class="col-sm-5">
                                                Commodity Output Limit
                                                <input type="text" class="form-control" placeholder="ELC" />
                                            </div>
                                        </div>
                                        <div class="space-8"></div>
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-5">
                                                Color Scheme
                                                <div class="control-group">



                                                    <label style="margin-right:20px;">
                                                        <input name="form-field-radio" type="radio" class="ace">
                                                        <span class="lbl"> Grey Scale </span>
                                                    </label>

                                                    <label>
                                                        <input name="form-field-radio" type="radio" class="ace">
                                                        <span class="lbl"> Color</span>
                                                    </label>




                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                Output Format
                                                <select class="form-control" id="" data-placeholder="Choose a Format...">
                                                    <option value="">&nbsp;</option>
                                                    <option value="AL">SVG</option>
                                                    <option value="AK">Canvas</option>
                                                </select>
                                            </div>

                                        </div>


                                    </div>
                                </div>


                                <!-- /span -->
                            </div>
                            <!-- /row -->

                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 widget-container-span">
                                    <div class="widget-box width-95" style="background-color:#fff; margin:auto !important; padding:10px;">
                                         <h4 class="row header lighter brown no-margin-top no-margin-left no-margin-right ">
                                            <span class="col-xs-6"> Energy Network Diagram Options  </span><!-- /.col -->

                                            <span class="col-xs-6">
                                                <span class="pull-right inline">


                                                    <span class="btn-toolbar inline middle no-margin">
                                                        <button class="btn btn-success btn-sm">Render Network Diagram</button>
                                                    </span>
                                                </span>
                                            </sp
                                        <div class="space-16"></div>

                                    </div>
                                </div>

                                <!-- /span -->
                            </div>

                            <!-- PAGE CONTENT ENDS -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
            <!-- /.main-content -->
            <!-- /#ace-settings-container -->
        </div>
      <div class="space-32"></div>     <!-- /.main-container-inner -->

    <script>

        jQuery(function ($) {
            
             $(".chosen-select").chosen();
             $('[data-rel=tooltip]').tooltip({ container: 'body' });
             $('[data-rel=popover]').popover({ container: 'body' });
             
            $('#id-input-file-1 , #id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false //| true | large
                //whitelist:'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            });
            
            // Dropzone class:
            var myDropzone = new Dropzone("div#dropArea", { url: "/dapp/fileupload"});


            //$("div#dropArea").dropzone({ url: "/dapp/fileupload" });

            myDropzone.on("success", function(fileList, response) {
                /* Maybe display some more file information on your page */
                //alert("hi");
                //console.log(fileList);
                //console.log(response.data);
                var options = '<option value="0">--Select Input File--</option>';
                $.each(response.data, function(index, obj){
                    
                    options += fileList.name == obj ? "<option selected='selected' value="+obj+">"+obj+"</option>" :
                     "<option value="+obj+">"+obj+"</option>";
                    
                    
                    
                 });
                $("#file-list").html(options);

              myDropzone.removeAllFiles();
                
            });
            
            
            
            
            var url = '/dapp/loadfilelist';
              $.ajax({ 
              url: url,
              dataType : 'json',
              contentType: 'application/json; charset=UTF-8',
              cache: false,
              success: function(result){
                var options = '<option value="0">--Select Input File--</option>';
                $.each(result.data, function(index, obj){
                   options += "<option value="+obj+">"+obj+"</option>";
                });
                $("#file-list").html(options);
              }
            });



            $('#id-input-file-3').ace_file_input({
                style: 'well',
                btn_choose: 'Drop files here or click to choose',
                btn_change: null,
                no_icon: 'icon-cloud-upload',
                droppable: true,
                thumbnail: 'small'//large | fit
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
                    //Check an example below
                    //or examples/file-upload.html
                    return true;
                }*/
                /**,before_remove : function() {
                    return true;
                }*/
                ,
                preview_error: function (filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function () {
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });


            //dynamically change allowed formats by changing before_change callback function
            $('#id-file-format').removeAttr('checked').on('change', function () {
                var before_change
                var btn_choose
                var no_icon
                if (this.checked) {
                    btn_choose = "Drop images here or click to choose";
                    no_icon = "icon-picture";
                    before_change = function (files, dropped) {
                        var allowed_files = [];
                        for (var i = 0 ; i < files.length; i++) {
                            var file = files[i];
                            if (typeof file === "string") {
                                //IE8 and browsers that don't support File Object
                                if (!(/\.(jpe?g|png|gif|bmp)$/i).test(file)) return false;
                            }
                            else {
                                var type = $.trim(file.type);
                                if ((type.length > 0 && !(/^image\/(jpe?g|png|gif|bmp)$/i).test(type))
                                        || (type.length == 0 && !(/\.(jpe?g|png|gif|bmp)$/i).test(file.name))//for android's default browser which gives an empty string for file.type
                                    ) continue;//not an image so don't keep this file
                            }

                            allowed_files.push(file);
                        }
                        if (allowed_files.length == 0) return false;

                        return allowed_files;
                    }
                }
                else {
                    btn_choose = "Drop files here or click to choose";
                    no_icon = "icon-cloud-upload";
                    before_change = function (files, dropped) {
                        return files;
                    }
                }
                var file_input = $('#id-input-file-3');
                file_input.ace_file_input('update_settings', { 'before_change': before_change, 'btn_choose': btn_choose, 'no_icon': no_icon })
                file_input.ace_file_input('reset_input');
            });
        });


    </script>
    {% endblock %}

