{% extends 'layout.html' %} {% block body_block %}

{% if title == "Output Data" %}

 <div class="tabcontainer tab-container  fixed-remove-pad" style="margin-top:100px" >
 
<ul class="nav nav-tabs" role="tablist">
    
    

    <li role="presentation" class="active"><a href="#Graphviz" aria-controls="home" role="tab" data-toggle="tab">Graphviz</a></li>
    <li role="presentation" ><a href="#Matplot" aria-controls="home" role="tab" data-toggle="tab">Output Plots</a></li>
    


  </ul>
    

  <!-- Tab panes -->
  <div class="tab-content">
    
   

    <div role="tabpanel" class="tab-pane active mini-height" id="Graphviz">
        
    
        {% include "graphviz.html" with title=title %}    

    </div>
    
    <div role="tabpanel" class="tab-pane mini-height" id="Matplot">
        
    {% include "mathplot.html" with title=title %} 
          

    </div>

   
    

    
  </div>
</div>

{%else%}
<div class=" fixed-remove-pad">
        {% include "graphviz.html" with title=title %}
        </div>
{% endif%}







<script src="/static/assets/js/io.js"></script>
<script>
    $(document).ready(function() {

        initJs('{{mode}}');

    });
</script>
{% endblock %}
