<!DOCTYPE html>
<html lang="en" style="background-color:#f7f7f7 !important;">
        <head>
        <meta charset="utf-8" />
        <title>{{title}} - TEMOA</title>
        <meta name="description" content="Draggabble Widget Boxes &amp; Containers" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

            <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />

            <link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />
            <link rel="stylesheet" href="/static/assets/css/jquery-ui-1.10.3.custom.min.css" />

            <link rel="stylesheet" href="/static/assets/css/chosen.css" />
           <link rel="stylesheet" href="/static/assets/css/ace-fonts.css" />
            <link rel="stylesheet" href="/static/assets/css/ace.min.css" />
            <link rel="stylesheet" href="/static/assets/css/dropzone.css" />
            <link rel="stylesheet" href="/static/assets/css/tameo.css" />
          
           

        </head>


<body style="background-color:#f7f7f7 !important;">
  <div class="navbar navbar-default navbar-fixed-top" id="navbar"> 
 
  <div class="">
    <div class="navbar-header pull-left"> <a href="#" target="_blank" class="navbar-brand no-padding-top no-padding-bottom">
    <i> <img src="/static/assets/css/images/smallLogo.png"></i> <span style="vertical-align:middle">TEMOA</span></a><!-- /.brand --> 
    </div>
    <div class="navbar-header pull-right " role="navigation">
      <ul id="nav" class="nav ace-nav   autosize-transition ">
        
        <li><a href="{% url 'input' %}">Input Data</a></li>
        <li><a href="{% url 'modelrun' %}">Model Run</a></li>
        <li class="clearfix et"> <a href="{% url 'output' %}"> Output Data </a> </li>
        <li  class="active clearfix et"> <a href="{% url 'about' %}"> About us</a> </li>
        <li class=""> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="/static/assets/avatars/avatar2.png" alt="Jason's Photo" /> <span class="user-info"> <small>Welcome,</small> Jason </span> <i class="icon-caret-down"></i> </a>
          <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li> <a href="{% url 'login' %}"> <i class="icon-off"></i> Logout </a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--Don't changes its position or bug will come ;)-->
<script src="/static/assets/js/jquery-2.0.3.min.js"></script>

        {% block body_block %}{% endblock %}
        
        
        
<div class="footer">
  <div class="footer-inner">
    <div class="footer-content"> <span class="bigger-120"> <span class="blue ">TEMOA</span> © 2015 Joe DeCarolis </span> &nbsp; &nbsp; </div>
  </div>
</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="icon-double-angle-up icon-only bigger-110"></i> </a>
</div>




           <script src="/static/assets/js/bootstrap.min.js"></script>
           <script src="/static/assets/js/jquery.validate.min.js"></script>
           <script src="/static/assets/js/typeahead-bs2.min.js"></script>

            <script src="/static/assets/js/jquery-ui-1.10.3.full.min.js"></script>
            <script src="/static/assets/js/jquery.ui.touch-punch.min.js"></script>
<!--            <script src="/static/assets/js/chosen.jquery.min.js"></script>-->
            <script src="/static/assets/js/ace.min.js"></script>
            <script src="/static/assets/js/ace-elements.min.js"></script>
<!--            <script src="/static/assets/js/ace-extra.min.js"></script>-->
            <script src="/static/assets/js/dropzone.js"></script>


<script type="text/javascript">
        jQuery(function ($) {
        
            
             $('[data-rel=popover]').popover({ container: 'body' });
            
            //dynamically change allowed formats by changing before_change callback function
           
 var availableTags = [
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"
				];
				$( "#tags" ).autocomplete({
					source: availableTags
				});


            //we could just set the data-provide="tag" of the element inside HTML, but IE8 fails!
            

        });
    </script>

</body>
</html>
