<!DOCTYPE html>
<html lang="en" style="background-color:#f7f7f7 !important;">
<head>
<meta charset="utf-8" />
<title>Model-Run -TEMOA</title>
<meta name="description" content="Draggabble Widget Boxes &amp; Containers" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/assets/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/assets/css/jquery-ui-1.10.3.full.min.css" />
<link rel="stylesheet" href="/static/assets/css/chosen.css" />
<link rel="stylesheet" href="/static/assets/css/ace-fonts.css" />
<link rel="stylesheet" href="/static/assets/css/ace.min.css" /> 
<script src="/static/assets/js/ace-extra.min.js"></script>
<style>
.btn.btn-app>[class*=icon] {
 display: block;
 font-size: 52px;
 margin: 0 40px 4px;
 line-height: 85px;
 min-width: 0;
 padding: 0;
}
.btn.btn-app {
	display: inline-block;
	width: 110px;
	height: 110px;
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	text-align: center;
	text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.2)!important;
	border: 0;
	border-radius: 100px;
	padding: 12px 0 8px;
	margin: 2px;
	line-height: 1.7;
	position: relative;
}
.navbar-fixed-top+.main-container {
	padding-top: 45px;
}
 @media (max-width: 479px) .navbar-fixed-top+.main-container {
 padding-top: 90px;
}
</style>
</head>

<body style="background-color:#f7f7f7 !important;">
<div class="navbar navbar-default navbar-fixed-top" id="navbar"> 
  <script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
        </script>
  <div class="">
    <div class="navbar-header pull-left ">
    
    <a href="#" target="_blank" class="navbar-brand no-padding-top no-padding-bottom"><i>
                    <img src="/static/assets/css/images/smallLogo.png"></i> <span style="vertical-align:middle">  TEMOA</span></a>
     <!-- /.brand --> 
    </div>
    <div class="navbar-header pull-right " role="navigation">
      <ul id="nav" class="nav ace-nav   autosize-transition ">
        
        <li class="active"><a href="{% url 'input' %}">Input Data</a></li>
        <li><a href="{% url 'modelrun' %}">Model Run</a></li>
        <li class="clearfix et"> <a href="{% url 'output' %}"> Output Data </a> </li>
        <li class="clearfix et"> <a href="{% url 'about' %}"> About us</a> </li>
        <li class=""> <a data-toggle="dropdown" href="#" class="dropdown-toggle"> <img class="nav-user-photo" src="/static/assets/avatars/avatar2.png" alt="Jason's Photo" /> <span class="user-info"> <small>Welcome,</small> Jason </span> <i class="icon-caret-down"></i> </a>
          <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li> <a href="{% url 'login' %}"> <i class="icon-off"></i> Logout </a> </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="main-container" id="main-container"> 
  <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>
  <div class="main-container-inner">
    <div class="">
      <div class="page-content" style="background-color:#f7f7f7;">
        <div class="row">
          <div class="col-xs-12"> 
            <!-- PAGE CONTENT BEGINS -->
            
            <h3 class="row header lighter blue no-margin-top no-margin-left no-margin-right "> <span class="col-xs-6"> Model Run </span><!-- /.col --> 
              
              <span class="col-xs-6"> <span class="pull-right inline"> <span class="btn-toolbar inline middle no-margin">
              <button class="btn btn-success btn-sm">Check Software</button>
              </span> </span> </span><!-- /.col --> 
            </h3>
            <div class="row">
              <div class="col-xs-12 col-sm-12 widget-container-span">
                <div class="widget-box" style="border-bottom:none;  padding:10px;">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 widget-container-span">
                      <div class="widget-box width-95" style="background-color:#fff; margin:auto !important; padding:10px;">
                        <div class="space-8"></div>
                        <form class="form-horizontal" role="form">
                          <div class="form-group no-margin-bottom">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Please Select Your Model Input </label>
                            <div class="col-sm-5">
                              <input type="file" id="id-input-file-2" class="form-control" />
                            </div>
                            <div class="col-sm-3 text-left"> <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="To run Temoa, you must select an input dataset from your 'data' folder. You must either select a relational database (sqlite) or a text (DAT) file.." title="Input Data Textbox">?</span> </div>
                          </div>
                          <div class="form-group no-margin-bottom">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Please Select Your Model Output </label>
                            <div class="col-sm-5">
                              <input type="file" id="id-input-file-2" class="form-control" />
                            </div>
                            <div class="col-sm-3 text-left"> <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="Regardless of whether Temoa is run with an input database or text (DAT) file, model outputs can either be stored in a text file or in a database. Users who opt to run with database input will typically store the model outputs in the same database, which will include a set of output tables that track model outputs by scenario." title="Output Input Textbox">?</span> </div>
                          </div>
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Scenario Name </label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="Scenario Name" class="form-control" />
                            </div>
                            <div class="col-sm-3 text-left"> <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="If running the model with an input database, please specify a scenario name. Model results are stored in the provided database. The specified name will be used to track scenario-specific results within the database output tables." title="Scenario Name Textbox">?</span> </div>
                          </div>
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Create Spreadsheet Output </label>
                            <div class="col-sm-5">
                              <div class="control-group">
                                <label style="margin-right:20px;">
                                  <input name="form-field-radio" type="radio" class="ace">
                                  <span class="lbl"> Yes </span> </label>
                                <label>
                                  <input name="form-field-radio" type="radio" class="ace">
                                  <span class="lbl"> No </span> </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Create Text-file Output </label>
                            <div class="col-sm-5">
                              <div class="control-group">
                                <label style="margin-right:20px;">
                                  <input name="form-field-radio" type="radio" class="ace">
                                  <span class="lbl"> Yes </span> </label>
                                <label>
                                  <input name="form-field-radio" type="radio" class="ace">
                                  <span class="lbl"> No </span> </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Generate LP File </label>
                            <div class="col-sm-5">
                              <div class="control-group">
                                <label style="margin-right:20px;">
                                  <input name="form-field-radio1" type="radio" class="ace">
                                  <span class="lbl"> Yes</span> </label>
                                <label>
                                  <input name="form-field-radio1" type="radio" class="ace">
                                  <span class="lbl"> No</span> </label>
                                <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="If 'yes' is chosen for this option, pyomo will save a copy of the LP file that is sent to the solver. The LP file represents the instantiated model, and applies the input data to calculate objective function and constraint coefficients. Viewing the LP file is often useful for debugging purposes." title="Lp Radio Button" style="margin-left:20px;">?</span> </div>
                            </div>
                          </div>
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Solver </label>
                            <div class="col-sm-5">
                              <input id="tags" type="text" class="form-control" placeholder="Solver Name"  />
                            </div>
                            <div class="col-sm-3 text-left"> <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="Choose the solver you wish to employ for this model run. Note that the solver must be installed and must be specified in your system path. Common options include GLPK, CPLEX, and Gurobi.


." title="Solver Textbox">?</span> </div>
                          </div>
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Run Option </label>
                            <div class="col-sm-5">
                              <div class="space-2"></div>
                              <div class="control-group">
                                <label style="margin-right:20px;">
                                  <input name="form-field-radio1" type="radio" class="ace">
                                  <span class="lbl"> Single Run</span> </label>
                                <label>
                                  <input name="form-field-radio1" type="radio" class="ace">
                                  <span class="lbl"> Uncertainty Analysis </span> </label>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="space-8"></div>
                <div class="row">
                  <div class="width-90" style="margin:auto !important;">
                    <div class="row " >
                      <div class="col-xs-10 col-sm-10 no-padding-left " >
                        <div class="widget-box" style="border-bottom:none; background-color:#fff;  padding:10px;">
                          <h4 class="header lighter brown clearfix"> Uncertainty Analysis Options </h4>
                          <div class="space-16"></div>
                          <div class="form-horizontal" role="form">
                            <div class="form-group">
                              <label class="col-sm-3 control-label " for="form-field-2"> </label>
                              <div class="col-sm-6">
                                <div class="control-group width-95">
                                  <div class="row">
                                    <div class="col-sm-12 ">
                                      <label>
                                        <input name="form-field-radio" type="radio" class="ace">
                                        <span class="lbl"> Modeling to Generate  Alternatives </span> </label>
                                      <span class="help-button pull-right" data-rel="popover" data-trigger="hover" data-placement="right" data-content="More details." title="Popover on hover">?</span> <a class="btn btn-sm btn-success pull-right " style="margin-right:30px;"> Configure</a> </div>
                                  </div>
                                  <div class="space-4"></div>
                                  <div class="row">
                                    <div class="col-sm-12 ">
                                      <label>
                                        <input name="form-field-radio" type="radio" class="ace">
                                        <span class="lbl"> Stochastic Optimization </span> </label>
                                      <span class="help-button pull-right" data-rel="popover" data-trigger="hover" data-placement="right" data-content="More details." title="Popover on hover">?</span> <a class="btn btn-sm btn-success pull-right " style="margin-right:30px;"> Configure</a> </div>
                                  </div>
                                  <div class="space-4"></div>
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <label>
                                        <input name="form-field-radio" type="radio" class="ace">
                                        <span class="lbl"> Parametric Sensitivity Analysis </span> </label>
                                      <span class="help-button pull-right" data-rel="popover" data-trigger="hover" data-placement="right" data-content="More details." title="Popover on hover">?</span> <a class="btn btn-sm btn-success pull-right " style="margin-right:30px;"> Configure</a> </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-2 col-sm-2" >
                        <div class="widget-box" style="border-bottom:none; background-color:#fff;  padding:10px;">
                          <h4 class="header lighter brown clearfix"> Model Run </h4>
                          <div class="space-16"></div>
                          <div class="form-horizontal" role="form">
                            <div class="form-group">
                              <div class="col-sm-2 " style="margin-left:20px;"> <a href="#Run" data-toggle="modal" class="btn btn-app btn-danger"> <i class=" icon icon-play bigger-230"></i> </a> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="space-8"></div>
                <div class="widget-box" style="border-bottom:none;  padding:10px;">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 widget-container-span">
                      <div class="widget-box width-95" style="background-color:#fff; margin:auto !important; padding:10px;">
                       <h4 class="header lighter brown clearfix">MGA Configuration</h4>
                        <div class="space-8"></div>
                        <form class="form-horizontal" role="form">
                          
                          
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> MGA Stock Value </label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="" class="form-control" />
                            </div>
                            <div class="col-sm-3 text-left"> <span class="help-button" data-rel="popover" data-trigger="hover" data-placement="right" data-content="Modeling to generate alternative (MGA) is a technique that can produce alternative solutions that are close to cost optimal but very different in decision space. For more information on MGA applied to energy system models, please see the following publications:
 
DeCarolis, J. F. (2011). Using modeling to generate alternatives (MGA) to expand our thinking on energy futures. Energy Economics, 33(2), 145-152.
 
DeCarolis, J. F., Babaee, S., Li, B., & Kanungo, S. (2015). Modelling to generate alternatives with an energy system optimization model. Environmental Modelling & Software." title="MGA Textbox">?</span> </div>
                          </div>
                          
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2">Number of MGA Iterations  </label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="" class="form-control" />
                            </div>
                            </div>
                            
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> MGA Weighting Method </label>
                            <div class="col-sm-5">
                            <select class="form-control">
                            <option>1</option>
                            </select>
                            </div>
                                                   </div>
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="space-8"></div>
                <div class="widget-box" style="border-bottom:none;  padding:10px;">
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 widget-container-span">
                      <div class="widget-box width-95" style="background-color:#fff; margin:auto !important; padding:10px;">
                       <h4 class="header lighter brown clearfix">Stochastic Optimization</h4>
                        <div class="space-8"></div>
                        <form class="form-horizontal" role="form">
                        
                            <h4 class=" lighter blue clearfix" style="margin-left:120px; margin-top:30px;">Problem Formulation</h4>
                          
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Random Variable </label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="" class="form-control" />
                            </div>
                            
                          </div>
                          
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Number of Branches</label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="" class="form-control" />
                            </div>
                            
                          </div>
                            
                         <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Problem Defination</label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="" class="form-control" />
                            </div>
                            
                          </div>
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Number of Stages </label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="" class="form-control" />
                            </div>
                            
                          </div>
                                                  <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Interstage Structure </label>
                            <div class="col-sm-5">
                              <input type="text" placeholder="" class="form-control" />
                            </div>
                            
                          </div>
                        </form>
                        
                        <form class="form-horizontal" role="form">
                      
                           <h4 class=" lighter blue clearfix" style="margin-left:120px; margin-top:30px;">Solution Options</h4>
                          
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Solution Methods </label>
                            <div class="col-sm-5">
                              <div class="space-2"></div>
                              <div class="control-group">
                                <label style="margin-right:20px;">
                                  <input name="form-field-radio1" type="radio" class="ace">
                                  <span class="lbl"> Extensive Formulation</span> </label>
                                <label style="margin-right:20px;">
                                  <input name="form-field-radio1" type="radio" class="ace">
                                  <span class="lbl"> Progressive Hedging </span> </label>
                                  <label style="margin-right:20px;">
                                  <input name="form-field-radio1" type="radio" class="ace">
                                  <span class="lbl">SBDA </span> </label>
                              </div>
                            </div>
                          </div>
                          
                          <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Analysis</label>
                            <div class="col-sm-5">
                            <div class="control-group">
												

												<div class="checkbox">
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace ace-checkbox-2">
														<span class="lbl"> choice 1</span>
													</label>
												</div>
file:///home/yash/Projects/dapp/dapp/templates/master.html

												<div class="checkbox">
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace ace-checkbox-2">
														<span class="lbl"> choice 2</span>
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox">
														<span class="lbl"> choice 3</span>
													</label>
												</div>

												
											</div>
                            </div>
                            
                          </div>
                            
                         <div class="form-group ">
                            <label class="col-sm-4 control-label no-padding-right" for="form-field-2"> Results</label>
                            <div class="col-sm-5">
                             <div class="control-group">
												

												<div class="checkbox">
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace ace-checkbox-2">
														<span class="lbl"> choice 1</span>
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input name="form-field-checkbox" type="checkbox" class="ace ace-checkbox-2">
														<span class="lbl"> choice 2</span>
													</label>
												</div>

												<div class="checkbox">
													<label>
														<input name="form-field-checkbox" class="ace ace-checkbox-2" type="checkbox">
														<span class="lbl"> choice 3</span>
													</label>
												</div>

												
											</div>
                            </div>
                            
                          </div>
                        </form>
                        
                        </div>
                        </div>
                    </div>
                  </div>
                  
                  
                </div>
              </div>
            </div>
            <div id="Run" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Run Details</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" >Ok</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Terminate the Run</button>
      </div>
    </div>

  </div>
</div>
            <!-- /row --> 
            <!-- PAGE CONTENT ENDS --> 
          </div>
          <!-- /.col --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
    <!-- /.main-content --> 
    <!-- /#ace-settings-container --> 
  </div>
  <div class="space-32"></div> 
  <!-- /.main-container-inner --> 
  <div class="footer">
  <div class="footer-inner">
    <div class="footer-content"> <span class="bigger-120"> <span class="blue ">TEMOA</span> © 2015 Joe DeCarolis </span> &nbsp; &nbsp; </div>
  </div>
</div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"> <i class="icon-double-angle-up icon-only bigger-110"></i> </a> </div>
<!-- basic scripts --> 

<script type="text/javascript">
        window.jQuery || document.write("<script src='/static/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script> 

<!-- <![endif]--> 
<!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/static/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]--> 

<script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script> 
<script src="/static/assets/js/bootstrap.min.js"></script> 
<script src="/static/assets/js/typeahead-bs2.min.js"></script> 

<!-- page specific plugin scripts --> 
<!--[if lte IE 8]>
              <script src="/static/assets/js/excanvas.min.js"></script>
            <![endif]--> 

<script src="/static/assets/js/jquery-ui-1.10.3.full.min.js"></script> 
<script src="/static/assets/js/jquery.ui.touch-punch.min.js"></script> 
<script src="/static/assets/js/chosen.jquery.min.js"></script> 

<!-- ace scripts --> 

<script src="/static/assets/js/ace-elements.min.js"></script> 
<script src="/static/assets/js/ace.min.js"></script> 

<!-- inline scripts related to this page --> 

<script type="text/javascript">
        jQuery(function ($) {
             $(".chosen-select").chosen();
             $('[data-rel=tooltip]').tooltip({ container: 'body' });
             $('[data-rel=popover]').popover({ container: 'body' });
             $('#id-input-file-1 , #id-input-file-2').ace_file_input({
                no_file: 'No File ...',
                btn_choose: 'Choose',
                btn_change: 'Change',
                droppable: false,
                onchange: null,
                thumbnail: false //| true | large
                //whitelist:'gif|png|jpg|jpeg'
                //blacklist:'exe|php'
                //onchange:''
                //
            });

            $('#id-input-file-3').ace_file_input({
                style: 'well',
                btn_choose: 'Drop files here or click to choose',
                btn_change: null,
                no_icon: 'icon-cloud-upload',
                droppable: true,
                thumbnail: 'small'//large | fit
                //,icon_remove:null//set null, to hide remove/reset button
                /**,before_change:function(files, dropped) {
                    //Check an example below
                    //or examples/file-upload.html
                    return true;
                }*/
                /**,before_remove : function() {
                    return true;
                }*/
                ,
                preview_error: function (filename, error_code) {
                    //name of the file that failed
                    //error_code values
                    //1 = 'FILE_LOAD_FAILED',
                    //2 = 'IMAGE_LOAD_FAILED',
                    //3 = 'THUMBNAIL_FAILED'
                    //alert(error_code);
                }

            }).on('change', function () {
                //console.log($(this).data('ace_input_files'));
                //console.log($(this).data('ace_input_method'));
            });


            //dynamically change allowed formats by changing before_change callback function
            $('#id-file-format').removeAttr('checked').on('change', function () {
                var before_change
                var btn_choose
                var no_icon
                if (this.checked) {
                    btn_choose = "Drop images here or click to choose";
                    no_icon = "icon-picture";
                    before_change = function (files, dropped) {
                        var allowed_files = [];
                        for (var i = 0 ; i < files.length; i++) {
                            var file = files[i];
                            if (typeof file === "string") {
                                //IE8 and browsers that don't support File Object
                                if (!(/\.(jpe?g|png|gif|bmp)$/i).test(file)) return false;
                            }
                            else {
                                var type = $.trim(file.type);
                                if ((type.length > 0 && !(/^image\/(jpe?g|png|gif|bmp)$/i).test(type))
                                        || (type.length == 0 && !(/\.(jpe?g|png|gif|bmp)$/i).test(file.name))//for android's default browser which gives an empty string for file.type
                                    ) continue;//not an image so don't keep this file
                            }

                            allowed_files.push(file);
                        }
                        if (allowed_files.length == 0) return false;

                        return allowed_files;
                    }
                }
                else {
                    btn_choose = "Drop files here or click to choose";
                    no_icon = "icon-cloud-upload";
                    before_change = function (files, dropped) {
                        return files;
                    }
                }
                var file_input = $('#id-input-file-3');
                file_input.ace_file_input('update_settings', { 'before_change': before_change, 'btn_choose': btn_choose, 'no_icon': no_icon })
                file_input.ace_file_input('reset_input');
            });


 var availableTags = [
					"ActionScript",
					"AppleScript",
					"Asp",
					"BASIC",
					"C",
					"C++",
					"Clojure",
					"COBOL",
					"ColdFusion",
					"Erlang",
					"Fortran",
					"Groovy",
					"Haskell",
					"Java",
					"JavaScript",
					"Lisp",
					"Perl",
					"PHP",
					"Python",
					"Ruby",
					"Scala",
					"Scheme"
				];
				$( "#tags" ).autocomplete({
					source: availableTags
				});



            
           
          

            //we could just set the data-provide="tag" of the element inside HTML, but IE8 fails!
            



            /////////
          

            

        });
    </script>
</body>
</html>
