{% extends 'layout.html' %} 
{% block body_block %}
    <div class="main-container" id="main-container">
        <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>
        <div class="main-container-inner">

            <div class="">
                <div class="page-content" style="background-color:#f7f7f7;">

                    <form id="input-form" class="form-horizontal" action="/dapp/runinput" method="POST" enctype="multipart/form-data" role="form">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- PAGE CONTENT BEGINS -->
DDDDDDDD
                            <h3 class="header lighter  blue no-margin-top ">Input Data </h3>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 widget-container-span">
                                    <div class="widget-box width-95" style="border-bottom:none; margin:auto;  background-color:#fff; padding:10px;">
                                       
                                        <div class="space-10"></div>
                                        
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Select a Database or text file </label>
                                               <div class="col-sm-5">
                                                 <div id="dropArea" class="dropzone">
                                                 <select class="form-control" id="file-list" name="datafile" data-placeholder="">
                                                 
                                                </select>
                                                <input name="mode" type="hidden" value="output"/>
                                                    <!--name <input type="file" name="file"id="id-input-file-2" class="form-control" /> -->
                                                </div>
                                                </div>
                                                <div class="col-sm-1 no-padding">
                                                    <button class="btn btn-primary btn-sm form-control">View/Edit Data</button>
                                                </div>
                                            </div>
                                            <div id ="input-file-error">
                                            <span style="padding:100px;color:red;">
                                                <strong>Error: Please select output data file </strong></span>
                                        </div>
                                            <div class="space-4"></div>
                                  <!--          <div class="form-group ">
                                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Upload Data </label>
                                                <div class="col-sm-5">
                                                    <input type="file" id="id-input-file-2" class="form-control" />
                                                </div>
                                                  
                                                
                                                <div class="col-sm-1 no-padding">
                                                    <button id="file-upload-button"class="btn btn-primary btn-sm form-control">Upload Data</button>
                                                </div>
                                            </div>-->
                                            <div id="progress" class="progress">
                                                    <div class="progress-bar progress-bar-success"></div>
                                                </div>

                                       




                                    </div>
                                </div>
                            </div>
                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 widget-container-span">
                                    <div class="widget-box width-95" style="background-color:#fff; margin:auto !important; border-bottom:none;  height:265px; padding:10px;">

                                        <h4 class="row header lighter brown no-margin-top no-margin-left no-margin-right ">
                                            <span class="col-xs-6"> Network Diagram Options  </span><!-- /.col -->
                                            
                              
                                        </h4>

                                        <div class="space-16"></div>
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-5">
                                                Commodity Input Limit
                                                <input id="comomodity-input-text"type="text" class="form-control" placeholder="COAL" name="commodityinputlimit" />
                                            </div>
                                            <div class="col-sm-5">
                                                Commodity Output Limit
                                                <input id="comomodity-output-text"type="text" class="form-control" placeholder="ELC" name="commodityoutputlimit" />
                                            </div>
                                        </div>
                                        <div class="space-8"></div>
                                        <div class="row">
                                            <div class="col-sm-1"></div>
                                            <div class="col-sm-5">
                                                Color Scheme
                                                <div class="control-group">



                                                    <label style="margin-right:20px;">
                                                        <input id="color-scheme"name="colorscheme" selected type="radio" class="ace" value="grey">
                                                        <span class="lbl"> Grey Scale </span>
                                                    </label>

                                                    <label>
                                                        <input d="color-scheme"name="colorscheme" type="radio" class="ace" value="color">
                                                        <span class="lbl"> Color</span>
                                                    </label>




                                                </div>
                                            </div>
                                            <div class="col-sm-5">
                                                Output Format
                                                <select class="form-control" id="output-format" name="format"  data-placeholder="Choose a Format...">
                                                    <option value="svg">SVG</option>
                                                    <option value="canvas">Canvas</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="space-8"></div>
                                        <div class="row">
                                            <span class="col-xs-6"> </span>
                                            <span class="col-xs-6">
                                                <span class="pull-right inline">


                                                    <span class="btn-toolbar inline middle no-margin">
                                                        <input id="input-submit-button"type="submit" class="btn btn-success btn-sm" value="Render Network Diagram" />
                                                    </span>
                                                </span>
                                            </span>
                                        </div>


                                    </div>
                                </div>


                                <!-- /span -->
                            </div>
                            <!-- /row -->

                            <div class="space-10"></div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 widget-container-span">
                                    <div class="widget-box width-95" style="background-color:#fff; margin:auto !important; padding:10px;">
                                         <h4 class="row header lighter brown no-margin-top no-margin-left no-margin-right ">
                                            <span class="col-xs-6"> Energy Network Diagram Options  </span><!-- /.col -->

                
                                        <div class="space-16">
                                        </div>
                                      </h4> 
                                      <div class="space-8"></div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div id="networkDiagram" class="col-sm-5"> 
                                    </div>

                            </div>
                            </div>

                                </div>

                                <!-- /span -->
                            </div>


                            <!-- PAGE CONTENT ENDS -->
                        </div>
                        <!-- /.col -->
                    </div>
                    
                     </form>
                    
                    
                    <!-- /.row -->
                </div>
                <!-- /.page-content -->
            </div>
            <!-- /.main-content -->
            <!-- /#ace-settings-container -->
        </div>
      <div class="space-32"></div>     <!-- /.main-container-inner -->

   <script src="/static/assets/js/io.js"></script>
<script>
$(document).ready(function() {
    initJs('input');
});

    </script>
    {% endblock %}

