.ace-file-input {
	position: relative;
	height: 38px;
	line-height: 38px;
	margin-bottom: 9px
}
.ace-file-input input[type=file] {
	position: fixed;
	z-index: -2;
	opacity: 0;
	filter: alpha(opacity=0)
}
.ace-file-input .file-label {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	cursor: pointer;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: all .15s;
	transition: all .15s
}
.ace-file-input .file-label:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #f59942
}
.ace-file-input .file-label:before {
	display: inline-block;
	content: attr(data-title);
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 8px;
	line-height: 24px;
	text-align: center;
	background-color: #6fb3e0;
	color: #FFF;
	font-size: 11px;
	font-weight: bold;
	border: 2px solid #FFF;
	border-left-width: 4px;
	-webkit-transition: all .3s;
	transition: all .3s
}
.ace-file-input .file-label .file-name {
	display: inline-block;
	height: 28px;
	max-width: 80%;
	white-space: nowrap;
	overflow: hidden;
	line-height: 28px;
	color: #888;
	font-size: 13px;
	vertical-align: top;
	position: static;
	padding-left: 30px
}
.ace-file-input .file-label .file-name:after {
	display: inline-block;
	content: attr(data-title)
}
.ace-file-input .file-label.selected {
	right: 16px
}
.ace-file-input .file-label.selected .file-name {
	color: #666
}
.ace-file-input .file-label [class*="icon-"] {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	line-height: 24px;
	width: 26px;
	text-align: center;
	font-family: FontAwesome;
	font-size: 13px;
	border: 2px solid #FFF;
	color: #FFF;
	-webkit-transition: all .1s;
	transition: all .1s;
	background-color: #d1d1d1
}
.ace-file-input .file-label.selected .file-name [class*="icon-"] {
	background-color: #efad62
}
.ace-file-input .file-label.selected .file-name .icon-picture {
	background-color: #bd7a9d
}
.ace-file-input .file-label.selected .file-name .icon-film {
	background-color: #87b87f
}
.ace-file-input .file-label.selected .file-name .icon-music {
	background-color: #8b7ac9
}
.ace-file-input .file-label.selected .file-name .icon-archive {
	background-color: #efad62
}
.ace-file-input .file-label.hide-placeholder:before {
	display: none
}
.ace-file-input a:hover {
	text-decoration: none
}
.ace-file-input .remove {
	position: absolute;
	right: -8px;
	top: 6px;
	display: none;
	width: 17px;
	text-align: center;
	height: 17px;
	line-height: 15px;
	font-size: 11px;
	font-weight: normal;
	background-color: #fb7142;
	border-radius: 100%;
	color: #FFF;
	text-decoration: none
}
.ace-file-input .file-label.selected+.remove {
	display: inline-block
}
.ace-file-input input[type=file] {
	width: 100% \0/;
	height: 30px \0/;
	position: absolute \0/;
	z-index: 1 \0/;
	filter: alpha(opacity=0);
	cursor: pointer \0/
}
.ace-file-input input[type=file]:hover+.file-label {
	border-color: #f59942 \0/
}
.ace-file-input .remove {
	z-index: 2\0/
}


