
@font-face {
	font-family: 'icomoon';
	src:url('http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?-9haulc');
	src:url('http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?#iefix-9haulc') format('embedded-opentype'),
		url('http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.woff?-9haulc') format('woff'),
		url('http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.ttf?-9haulc') format('truetype'),
		url('http://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.svg?-9haulc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-spinner:before {
	content: "\e000";
}
.icomoon-spinner-2:before {
	content: "\e001";
}
.icomoon-spinner-3:before {
	content: "\e002";
}
.icomoon-spinner-4:before {
	content: "\e003";
}
.icomoon-spinner-5:before {
	content: "\e004";
}
.icomoon-spinner-6:before {
	content: "\e005";
}
.icomoon-spinner-7:before {
	content: "\e006";
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.spinner {
/*display: inline-block; */
    font-size: 3.5em;
    /* height: 1em; */
    /* top: 0px; */
    right: 510px;
    /* line-height: 1; */
    position: relative;
    /* margin: 0 .3em; */
    /* animation: anim-rotate 2s infinite linear; */
    color: #d3413b;
    /* text-shadow: 0 0 .25em rgba(255,255,255, .3); */
    float: right;
}
.spinner--steps {
	animation: anim-rotate 1s infinite steps(8);
}
.spinner--steps2 {
	animation: anim-rotate 1s infinite steps(12);
}

