.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
}
.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
}
.nav-tabs > li:hover > span {
    display: inline-block;
}

#outputarea
{
	margin: 15px 0 25px 10px;
	width: 98%;
}

.tabcontainer
{
	margin-left: 12px;
	width: 98%;
}

.mini-height
{
	min-height: 400px;
}