.white-box-with-bottom-border
{
	background: #fff;
	border-bottom: 1px solid #CCC;
	margin: 20px 5% 10px;
/*	padding-bottom:  30px;*/
	width:  90%;
}

.bottom-margin
{
	margin-bottom:  200px;
}
.box-heading
{
    line-height: 28px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #df9393;
    color: #a52a2a;
    font-weight: lighter;
    padding-left: 15px;
	
}

.box-top-pad
{
	padding-left: 15px;
	padding-top: 10px;
/*	margin-bottom:  50px;*/
}

.fixed-remove-pad
{
	margin-top:  100px;
}

.submit-button-container
{
	    /* float: right; */
    padding-bottom: 70px; 
    /* margin-top: 30px; */
    /* margin-right: 106px; */
    text-align: right;
    width: 90%;
    margin: 30px 5%;
	
}


.btn-app {
	display: inline-block;
/*	width: 200px;*/
	font-size: 18px;
	font-weight: normal;
	
	text-align: center;
	text-shadow: 0 -1px -1px rgba(0, 0, 0, 0.2);
	border: 0;
	border-radius: 3px;
	padding: 5px 30px;
	margin: 2px;
	line-height: 1.7;
	position: relative
}
.btn-red {
	background: #d3413b;
	background-image: linear-gradient(to bottom, #d55b52 0, #d12723 100%);
	background-repeat: repeat-x;
	color: #FFF;
	
	   
	
}
.btn-red:hover {
	background: #b52c26;
	background-image: linear-gradient(to bottom, #c43a30 0, #a51f1c 100%);
	background-repeat: repeat-x;
}
.btn-yellow {
	color: #963;
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4)
}
.btn-yellow{
	background: #fee088;
	background-image: linear-gradient(to bottom, #ffe8a5 0, #fcd76a 100%);
	background-repeat: repeat-x;
}
.btn-yellow:hover {
	background: #fdd96e;
	background-image: linear-gradient(to bottom, #ffe18b 0, #fbd051 100%);
	background-repeat: repeat-x;
}
.btn-app>[class*=icon] {
/* display: block;*/
 font-size: 21px;
 margin: 0 5px 4px;
 line-height: 36px;
 min-width: 0;
 padding: 0
}

.mark-error
{
	color:red;
	margin:  10px 0;
	font-size:  14px;
	font-weight:  bold;
}

.form-group 
{
	margin:  30px 0;
}

.form-control, select {
	border-radius: 0;
	box-shadow: none!important;
	color: #222;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #d5d5d5
}

.result-frame
{
	border: 0;
    padding-left: 8%;
    width: 70%;
    height: 800px;
}

.tabcontainer
{
	margin-left: 12px;
}

.mini-height
{
	min-height: 400px;
}