{% load custom_tags %}
<ul class="list-group list-group-bordered">
                  <li class="list-group-item">
                    <b>Commodity Type</b> <p class="float-right">{{comm_tech_data.name}}</p>
                  </li>
                  <li class="list-group-item">
                    <b>Commodity Value</b> <p class="float-right">{{comm_tech_data.value}}</p>
                  </li>
                  <li class="list-group-item">
                    <b>Color Scheme</b> <p class="float-right">{{input_data.color_scheme}}</p>
                  </li>
                  <li class="list-group-item">
                    <b>Output Format</b> <p class="float-right">{{input_data.output_format}}</p>
                  </li>

                </ul>